
.container{
    width: 500px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(207, 207, 207, 0.5);
    margin-top: 150px;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 150px;
}

.container img{
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}

.login input[type="text"], .login input[type="password"] {
    height: 45px;
    width: 300px;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 40px;
    border-radius: 4px;
}

.btn-login {
    padding: 15px 25px;
    border: none;
    font-size: 25px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}